[2016-04-20 19:33] blueberry opened #1 "Build failing on Arch Linux"
Hi,

The build is failing in my Arch Linux with gcc 5.3 (very recent versions of all software). JOCL version is built from the commit 862f2ab. I used the latest development branch of CLBlast and installed it on my system without problems.

I successfully did the cmake-gui stuff, and, as per JOCL instructions, invoked make. This is the beginning of the wall of basically the same error:

 JOCLBlast.

[2016-04-20 20:35] gpu commented on #1
This is likely related to https://github.com/gpu/JOCL/issues/1#issue-145435807 : It seems that (on non-windows-systems), C++ 11 must explicitly be enabled. I did this for JOCL, but not yet for JOCLBlast, this should be fixed with the above commit.

(I also added it for JOCLBLAS, assuming that it will be the same there. In fact, the JOCLCommon project contains some C++11 features. Particularly, the

[2016-04-20 22:22] blueberry commented on #1
Thanks. I'll test is as soon as the JOCL Sizeof problem is solved and I can build the latest JOCL. BTW, the requirement for this library is JOCL-RC01-SNAPSHOT, or it could work with JOCL-RC00?

[2016-04-20 22:26] gpu commented on #1
Yes, it will need the snapshot version, because it has to load the CLBlast library before the JOCLBlast library can be loaded, and this functionality was not yet available in RC00.

I hope once these points (particularly the Sizeof issue) are settled, I can create a new release.

[2016-04-21 17:44] blueberry commented on #1
I can confirm that this works now.

[2016-04-21 17:44] #1 closed

[2016-04-21 18:45] blueberry opened #2 "Update to the newest CLBlast"
The newest commits in the development branch of CLBlast contain implementation of xASUM and a few other routines that were missing in the previous version.

Can you please generate an updated version of JOCLBlast? I would like to implement a JOCLBlast-based engine in Neanderthal, and test JOCLBlast with a lot of existing tests.

[2016-04-21 19:32] blueberry opened #3 "NoClassDefFoundError when trying to use CLBlast"
I include JOCL-0.2.0-RC1-SNAPSHOT and JOCLBlast-0.0.1-SNAPSHOT in my Cloajure leiningen project (basically the same as maven, an uses maven repositories and poms etc.)

I start the REPL and:

[code]
So, JOCL loads and works as always.

But, then:

[code]

CLBlast itself is available on the system and can be loaded from Java:
[code]

As JOCL works well, I suspect there is some subtle error with JOC

[2016-04-21 19:37] gpu commented on #2
Thanks for this heads up. I have updated based on the current version of CLBlast

(Some questions related to https://github.com/gpu/JOCL/issues/6 may arise here: It should somehow be made clear which version of JOCLBlast belongs to which version of CLBlast. Right now, this is not as critical, but once the first version is about to be available in Maven Central, it becomes crucial).

[2016-04-21 19:42] gpu commented on #3
How much of potential error messages is "hidden" there? I only see

[code]

as the message, but it does not seem to say _which_ class is not found (and, if it is `CLBlast` itself, _why_ it could not initialize it).

So first things first: **If** the initialization throws the ubiquitous `UnsatisfiedLinkError`, then it would appear there, right?

[2016-04-21 19:50] blueberry commented on #2
Thanks.

Regarding the versioning, I think the best is to keep it 0.x.y, where the documentation gives a CLBlast commit or date that JOCLBlast is based on, then do frequent releases, even if not all platform binaries are there, and state clearly which platforms are supported in which version. So far, we can cover windows and linux, and, if the build is made straightforward on OSX, I can try to cov

[2016-04-21 19:53] blueberry commented on #3
The complete stack trace is in my initial message. I can try with some debug printlns in JOCLBlast...

[2016-04-21 19:59] gpu commented on #2
There are contributions for JOCL on Mac, but am not sure whether someone could contribute the JOCLBlast binaries for Mac.

BTW, regarding the update: I only ran the "basic binding test". Creating more test cases is also still on my TODO list.

[2016-04-21 20:02] gpu commented on #3
Sorry, I can't figure out what

[code]

exactly is (some lambda, obviously...), and what _causes_ the actual error. To understand this better: When you (temporarily) provoke an error, by (temporarily) moving `clblast.so` to a directory where it can _not_ be found, does this cause the same error?

[2016-04-21 20:03] blueberry commented on #3
I doctored CLBlast class with printlns like this:

[code]

But nothing gets printed before the exception. It seems to me that java tries to load some class that is needed for CLBlast to even get to CLBlast initialization, but can not figure out which class that would be. As I've mentioned,  org.jocl.CL works fine in the same setting, so I would look at potential problems in the differences between

[2016-04-21 20:06] blueberry commented on #3
That eval is this: (CLBlast/setExceptionsEnabled false)
It is evaluated dynamically in the repl, that's why it gives the line you mentioned.

When I remove libclblast.so, the error is the same. I doubt that the problem is related to libclblast, because (System/loadLibrary "clblast") works fine.

[2016-04-21 20:09] blueberry commented on #2
I have lots of hand written test cases (more than 800) in Neanderthal, so I think this could cover CLBlast well, only if I make it work.

[2016-04-21 20:26] gpu commented on #3
(This aimed at finding out whether there might be a problem with loading the JOCLBlast library because it did not "match" the CLBlast library in some way - but I assume that you compiled both from the current code state, so if there would have been differences, they would have caused linker errors and such).

Regarding the possible reasons for the NoClassDefFoundError ... this is unusual, to say t

[2016-04-21 21:43] blueberry opened #4 "Text files are Windows-specific"
This might not be a real issue, but I am reporting it anyway. When opened in emacs on linux, JOCLBlast Java source contains of ^M characters.

Like in this stackexchange question:
http://unix.stackexchange.com/questions/17647/m-at-the-end-of-each-line-of-text-files-generated-under-windows

[2016-04-21 22:05] gpu commented on #4
Yes, these line endings.... Either Visual Studio complains about "wrong" line endings, or the Linux editors show odd characters. There is a dedicated article, https://help.github.com/articles/dealing-with-line-endings/ , showing how to "clean up" the line endings, but it seems a bit brute force - and it's a bit more difficult in this case, as most of the code in JOCLBlast is auto-generated, and I'

[2016-04-21 22:06] blueberry commented on #3
@gpu Believe or not, I identified the troublemaker:
I changed the CLBlast static initializer to this:

[code]

And now JOCLBlast loads, and does call appropriate methods.

However, when I call CLBlastSscal, i get this OpenCL error through OpenCL's error reporting mechanism:

[code]

It seems that JOCLBlast (or CLBlast) does not like the (valid) command queue that i gave it as an argument, but I wi

[2016-04-21 22:22] blueberry commented on #3
This error code is from CLBlast:

[code]

[2016-04-21 22:23] #2 closed

[2016-04-21 22:45] blueberry commented on #3
I am almost sure about the problem cause: I have 3 GPUs (the 1st supports OpenCL 1.2, while the 2nd and the 3rd support OpenCL 2.0). I use the 2nd to create the context and command queue, but CLBlast might use the 1st (OS's default) to build the program. That's why the command queue that I supply is invalid.

Do you think this could be the issue?
How to set the device and context that CLBlast uses

[2016-04-21 22:46] gpu commented on #3
The error code is something that I'd first investigate in native CLBlast (maybe I can try to see whether there is a test case for (the C-version of) CLBlastSscal tomorrow or early next week.

---

Now, that the problem is caused by manually loading the CLBlast library is once again irritating. Although that's what I was aiming at when I said to remove the CLBlast lib temporarily: Shouldn't it thro

[2016-04-21 22:48] gpu commented on #3
Sorry, these overlapped:

This can certainly be a reason for a command queue being invalid. I'll have to take a closer look at the inner workings of CLBlast to see how this could be solved, I'll try to do this tomorrow (it's already late here)

[2016-04-21 22:53] blueberry commented on #3
We are in the same GMT+1 time zone I suppose :)

Regarding the libclblas availability: If you would like to include CLBlast in the jar, would'n it be easier to compile JOCLBlast native library statically?
I thought that you chose dynamic loading to enable the user to tune CLBlast (because the tuning database it uses only contains a dozen cards, otherwise it uses non-optimal defaults).

[2016-04-22 00:01] blueberry commented on #3
CLBlast reference: https://github.com/CNugteren/CLBlast/issues/43

[2016-04-22 08:04] blueberry commented on #3
After restarting the JVM, CLBlast function calls work well with all queues. The problem was due to some initial fail in interaction with CLBlast's internal resource caching mechanism.

The problem with System.loadLibrary stays, that is, JOCLBLast works on my system with explicit loading disabled.

[2016-04-22 08:52] gpu commented on #3
Statically linking might be an option for this particular setup - or so to say, for _each particular_ setup. I actually wanted to cover the generic case, of one JNI library depending on (possibly multiple, possibly precompiled) other dynamic libraries.

I still wonder whether this is a general problem with the dependency loading mechanism (which was introduced only recently), or whether the "root"

[2016-04-22 19:51] blueberry commented on #3
Certainly, a general and flexible solution would be great.

In this particular case, I would be satisfied with at least a temporary solution (for example, statically linked library) that would enable me to release a version of Neanderthal that rely on a JOCLBlast preview release. Nobody expects JOCLBlast to offer a perfect solution in version 0.0.1 or 0.0.2 - it is enough if it is globaly availabl

[2016-04-23 12:05] gpu commented on #3
Sure, I see, such a release may be helpful to gain some early feedback which is largely independent of how the library is loaded internally. Nevertheless, this issue (and the `Sizeof` one) make me think that there are some hidden caveats related to native libraries in Clojure.

I can try to create a statically linked version in the next days. (And I agree: For the case of JOCLBlast this might even

[2016-04-25 10:40] gpu commented on #3
Just a short update: I read the linked posts, but don't think it will be helpful to just read them unless I also try it out. Attempts to set up all this resulted in google journeys, the last one being about

[code]

but this classpath- and namespace management of clojure at the moment just seems (horribly) intransparent for me, so this may take some time to get it running.

[2016-04-25 10:56] blueberry commented on #3
What's your setup? If you need help with setting up development environment, I can help.

[2016-04-25 11:01] blueberry commented on #3
And I have just pushed the recent changes of ClojureCL and Neanderthal (JOCL-RC1 dependency) to the master at github. The version that you had was a pre-JOCL-RC1.

[2016-04-25 14:29] gpu commented on #3
I'm at work ATM, and can likely not do (many) further tests before tomorrow evening. But I used the "Counterclockwise" Eclipse Plugin, clojure 1.6.0 (tried 1.8.0 as well), and neanderthal 0.5.0. There had been another issue first: It did not seem to find some sort of "initializer class" of neanderthal. After some refreshing ("...switching it off and on again" ;-)) this worked, but then it complain

[2016-04-25 14:47] blueberry commented on #3
See my previous comment about Neanderthal version. Also, Neanderthal _requires_ Clojure 1.8.0 (see its leiningen project.clj for other dependencies).
Counterclockwise usually work ok-ish if you know what you are doing, but because Eclipse likes to use its own project settings, sometimes you need to synchronize it with leiningen by hand from the right-click menu.
Imho, Eclipse is hugely inferior to

[2016-04-25 14:49] blueberry commented on #3
Hah, now I remembered that ClojureCL's tests rely on having OpenCL 2.0 functionality, that you'll need AMD GPU for...

[2016-04-25 14:52] blueberry commented on #3
And another idea, much easier for you, since it does not require my libraries at all:
1. Create a new clean leiningen-based Clojure project.
2. In project.clj, add dependencies to JOCL and JOCLBLast
3. Start repl (in Eclipse or wherever)
4. Use Clojure's Java interoperability to import and call JOCL methods that you already know well.

[2016-04-25 19:26] blueberry commented on #3
@gpu BTW, A user of Neanderthal, who is very interested in using it for GPU computing on Nvidia and OSX has access to a bunch of Macs, volunteered to compile JOCLBlast (and JOCL) for OSX. I hope this would speed the release cycle now that we can cover all three major OS quickly.

[2016-04-25 20:47] gpu commented on #3
So I had another short look at this, and after reading https://sourceforge.net/p/math-atlas/discussion/1026734/thread/871639fe/ I frankly have to say that ATLAS is obviously not meant to be used by people like me, and I certainly will **not** waste my time with that.

(At least, I understand the burdens that he mentions in the FAQ entry that he linked. Some pretty bold statements for someone who i

[2016-04-25 21:06] blueberry commented on #3
OK. Please ask for any help with the setup, if needed. To reproduce the exceptions, you can use those few lines of code I posted in the first message.

[2016-04-26 19:34] gpu commented on #3
OK, after a rather frustrating journey and a few hours of debugging, I have to consider that I'm just plainly stupid - but I need your help to verify this:

The actual reason for the problems may be that I forgot to mention a crucial step of building JOCLBlast: After compiling the native library, the resulting library `libJOCLBlast_0_0_1-linux-x86_64.so` will be placed in the `nativeLibraries` dir

[2016-04-26 19:55] blueberry commented on #3
I can only verify that you're an exceptionally smart guy! :)

I am out of town until Friday, so I'll try this then. It looks to me to be the thing at the first glance.

On the side note, I can verify that I've tried several functions and they work like a charm. I found a few issues in CLBlast and reported them to Cedric. The problems are identified, and they seem to be easily solvable (when he fin

[2016-04-26 20:17] blueberry commented on #3
I found the means to test this and can confirm that you are a genius, sir!

The problem is solved after reverting CLBlast.java to load the library, _AND_ copying libclblast.so to the appropriate directory, just as you described.

[2016-04-26 20:27] blueberry commented on #3
@gpu In addition to your description, I have to add that:
1. `JOCLBlast/nativeLibraries/linux/x86_64/libclblast.so` worked
2. from the formatting in your example it looked like `JOCLBlast/linux/x86_64/libclblast.so` - that did NOT work

but that was probably unintentional mistake in the formatting. The description was OK.

[2016-04-26 21:16] gpu commented on #3
Of course, you're right, apologies, it should indeed be

[code]

(I had added these subdirectories because there may be different dependencies with the same names - it would, in some sense, be easier to rename the dependencies according to the `-version-OS-ARCH` pattern (and this would have made this bug less likely), but it's hard to say what would be the "best" solution).

I'll update the README

[2016-04-27 11:13] blueberry opened #5 "Constants changed in CLBlast - JOCLBlast needs update"
Newest development branch of CLBlast has changed the constants in Layout etc. to be consistent with cblas. Corresponding classes in JOCLBlast need to be updated.

[2016-04-27 15:06] blueberry commented on #5
In addition to this, Cedric added a new method for clearing the cache, which might be impotrant in relation to this issue that might be caused by ClojureCL or JOCL, since he couldn't reproduce it: https://github.com/CNugteren/CLBlast/issues/47

[2016-04-27 16:30] gpu commented on #3
I have added a section in the readme of https://github.com/gpu/JOCL for
"Building and packaging the external native library dependencies"
that explains the placement of the dependent libraries.

I don't like the manual step that is involved there. I think it should be possible to apply some CMake magic to _automatically_ copy the dependency (e.g. `clblast.dll`) into the appropriate target subdirec

[2016-04-27 16:31] gpu commented on #5
This has been updated, based on the latest CLBlast development state, in 6902f2e3fce1400d1e583d50a5f9eb56ee8683c8

[2016-04-29 16:45] gpu commented on #5
The `CLBlastClearCompiledProgramCache` function has been renamed to `CLBlastClearCache` in https://github.com/gpu/JOCLBlast/commit/901ca7d318cc9bc410010ebf5433551f4aae6e8d , based on the change in https://github.com/CNugteren/CLBlast/commit/d9b21d7f4920b115d3fe7f2e3cce1f89eb762c10

[2016-04-29 16:48] blueberry commented on #5
Can you also refresh CLBlast class to include sum and imax methods that were added 2 days ago?

[2016-04-29 17:18] gpu commented on #5
OK, I should have expected it to strike back when I manually edited the function names of the otherwise auto-generated code: It was named `ClearCache` instead of `CLBlastClearCache` in the previous version.

However, in https://github.com/gpu/JOCLBlast/commit/1a3cb47fbb8c99d3bb608fa949898194dc21d5c5 I have updated it based on the latest "development" state of CLBlast.

[2016-04-29 22:05] blueberry commented on #5
I hate to bug you again, but in the meantime Cedric adeded the fillcache function, so there is a need for another update.

[2016-04-30 07:26] CNugteren commented on #5
Isn't it better to wait for the next 0.7 release or so? This is all very much in development, so things keep on changing. From version 1.0 the API will remain stable for a while.

[2016-04-30 09:24] blueberry commented on #5
The update is needed for testing the library. Fortunately, Marco has a code generator for it :)
@CNugteren BTW, when do you expect to release 0.7? @gpu Maybe that would be a good target for the release 0.0.1 of JOCLBlast?

[2016-04-30 09:39] blueberry commented on #5
@gpu and another thought on versioning: how about jumping JOCLBlast version to 0.7.0, and keeping that in sync with CLBlast versions?

[2016-04-30 12:32] gpu commented on #5
I think that both of you are right: On the one hand, it may be painful for follow each and every update of the `development` branch - but on the other hand, it is _necessary_, as it would not benefit anyone to wait for a ""stable"" 1.0 release that then requires several fixes in form of 1.0.X versions. (Admittedly (maybe luckily?) the application case involving the chain of OpenCL -> CLBlast -> JO

[2016-05-02 10:25] blueberry opened #6 "Library is not deleted from /tmp on JVM exit"
This is an issue only if JOCLBlast is updated - the old native libraries stay in the tmp folder and have to be deleted manually - otherwise they will be used even when JVM is restarted.

This is not a huge problem, but should be mentioned somewhere. It is very important during the development.

[2016-05-02 11:12] gpu commented on #6
Apologies that I did not mention this, even though I also stumbled over this recently.

This is known and, to some extent, "intentional": The reason of why they are not deleted is that under windows, it's not directly possible to delete a library file (DLL) as long as it is still loaded in the JVM`*`. Things like `File#deleteOnExit` or some `ShutdownHook` magic won't do it. In any case, even these

[2016-05-02 16:44] gpu commented on #5
I have updated based on the latest version of CLBlast in https://github.com/gpu/JOCLBlast/commit/e514ed90ef41126a5c095e0227e2ea01c2e54eba . Note that there is also a minor update in `JOCLCommon` that is required here: https://github.com/gpu/JOCLCommon/commit/9a2a44e7387531ccf859cb9da247900778348682

As a quick test, I used/ported the example that Cedric added as well:

[code]

It seems to work for

[2016-05-02 20:45] blueberry commented on #5
@gpu CLBlast compilation fails with the following error (I built and installed the latest development CLBlast, then deleted al JOCL projects, cloned from github and built them again. JOCL and JOCLCommon build fine):

[code]

[2016-05-02 20:50] blueberry commented on #5
@gpu Ignore the last message. I somehow managed to build CLBlast master instead of development.

[2016-05-02 22:08] blueberry opened #7 "dgemm does not compute well, while sgemm works with the same numbers"
I am using this from Clojure, but basically the problem is that Sgemm works OK, while Dgemm does not compute well.
The description of a simple example is here: https://github.com/CNugteren/CLBlast/issues/51, but ANY Dgemm example would do.
CLBlast's Dgemm called from C works OK.

Neanderthal uses the same parametrized code for both floats and doubles, and the only difference is in the CLBlastDgemv

[2016-05-03 09:13] gpu commented on #7
Don't waste too much time with this - _I_ have to make sure that it works. I can try to test this later today.

But if you're bored otherwise ;-) : As a first test, I'd basically take the basic SGEMM example from [this forum post](https://forum.byte-welt.net/byte-welt-projekte-projects/jocl/18180-joclblas-java-bindings-clblas-2.html#post131422), and mechanically replace all occurances of `float`,

[2016-05-03 15:23] gpu commented on #7
So, as mentioned above, "blindly" replacing "float" with "double" seems to work at the first glance:

[code]

Can you describe any particular setup (input matrices, e.g. matrix sizes) where you observed the problem? Does the sample above work for you?

---

EDIT: The errors may be subtle. From the description, I could imagine that a `Sizeof.cl_float` slipped in somewhere instead of a `Sizeof.cl_do

[2016-05-03 18:08] blueberry commented on #7
@gpu @CNugteren Your example works... on card 0 (AMD R9 270X), _but_ on card 1 (AMD R9 290X) the problem is the same as when I called it from Clojure. It is not due to the defective card, because my third card (also 290X) has the same error, _and_ my custom dgemm kernels (OpenCL 2.0) compute the result right.

I tried Cedric's example, and it also has the same error on cards 1 and 2, while compute

[2016-05-03 18:12] blueberry commented on #7
For reference: https://github.com/CNugteren/CLBlast/issues/51

[2016-05-03 19:15] blueberry commented on #7
We solved it by using different tuning parameters. Thanks for testing this.

[2016-05-03 19:15] #7 closed

[2016-05-08 20:36] blueberry opened #8 "Official releases"
Since CLBlast 0.7.0 is out, maybe we can prepare the release 0.7.0 of JOCLBlast (and also RC01 of JOCL)?
We have people that can build for all 3 major operating systems...

[2016-05-09 12:25] gpu commented on #8
Sounds like a plan. I have some (time and technical) constraints this week, but I should be able to
- create a tag for JOCL-2.0.0-RC01 and
- (check if there are relevant changes in CLBlast and) create a tag for JOCLBlast-0.7.0-RC01

These tags could then be used to build
- the JOCL natives
- the CLBlast natives (for 0.7.0) (!)
- the JOCLBlast natives

so that, if everything works out as expected,

[2016-05-09 12:52] blueberry commented on #8
Cool. As for JOCLBlast, I vote to go straight to 0.7.0, since:
1. CLBlast is itself beta, and 0.7.0 has already been released
2. We have the minor version number for eventual fixes
3. Currently there is a handful of users anyway, and CLBlast itself will have new versions every month or two.

I propose to:
1. Create JOCLBlast 0.7.0-SNAPSHOT (or RC)
2. We build CLBlast 0.7.0 for each OS, and test th

[2016-05-09 16:16] gpu commented on #5
Although this "issue" is more like an "epic", the update that this issue referred to is done, so I'll close it for now

[2016-05-09 16:16] #5 closed

[2016-05-09 17:08] gpu commented on #8
OK, a first attempt:
- JOCL 2.0.0 release candiate tag: https://github.com/gpu/JOCL/releases/tag/2.0.0-RC00
- JOCLBlast 0.7.0 release candiate tag: https://github.com/gpu/JOCLBlast/releases/tag/0.7.0-RC00

The versions in the POMs are now "...0-SNAPSHOT", as this is the usual maven convention. The tags are both called "RC00".

I hope that the MVN install of JOCLBlast works as desired: I had to ext

[2016-05-11 14:06] blueberry commented on #8
@gpu @amherag Here are osx and linux builds for JOCL and JOCL blast:
[linux-dragan.zip](https://github.com/gpu/JOCLBlast/files/259473/linux-dragan.zip)
[osx-amaury.zip](https://github.com/gpu/JOCLBlast/files/259475/osx-amaury.zip)

[2016-05-11 17:16] gpu commented on #8
Thanks @amherag and @blueberry !

@blueberry Could you also compile them for _32_ bit? That would be great, as it is the "only" library that is missing now.

[2016-05-11 18:57] blueberry commented on #8
As far as I know no, because I don't have a 32 bit system. If it can be done on the 64 bit system then yes, but I'd need smeone to point me to the information on how to do that.

Is 32 bit still a thing? I understand why someone woud need that on windows, but I haven't seen a 32 bit desktop linux for a looong time.

[2016-05-11 20:40] gpu commented on #8
For Windows, the compiler toolchain can explicitly be selected in CMake ("Visual Studio..." vs "Visual Studio Win64"). For Linux, it should be possible as well, according to http://stackoverflow.com/questions/1272357/how-to-compile-a-32-bit-binary-on-a-64-bit-linux-machine-with-gcc-cmake . However, if you think that it is not worth the effort (I'm not sure how prevalent 32bit Linuxes still are...)

[2016-05-11 20:53] blueberry commented on #8
I had looked at that page before, but on linux there are many more variables outside the project, starting with the dependent libraries.

I'd go with what we have since:
1) clblast is going to be released often, so there will be opportunities for adding new platforms and architectures soon.
2) there is a number of users who are eager to use linux/mac/windows 64bit libraries as soon as possible.
3)

[2016-05-11 22:30] gpu commented on #8
OK then, I'll try to build the package tomorrow (unfortunately, I'm not entirely sure whether this will be possible, but in any case, I'll do it ASAP)

[2016-05-12 06:34] blueberry commented on #8
Thank you.

[2016-05-12 17:33] gpu commented on #8
So after a bit of a hassle and back and forth `*`, JOCL and JOCLBlast should soon be available in Maven Central as

[code]

and

[code]

respectively.

---

`*` Having several GitHub- and Sonatype-accounts always makes this a bit fiddly. I still think it's a nuisance that Maven performs the POM update and SCM tagging _before_ it notices that it can not upload anything to the staging server. Once m

[2016-05-13 08:32] gpu commented on #8
It turned out that for (JO)CLBlast, users may have to download and install https://www.microsoft.com/en-us/download/confirmation.aspx?id=48145  , because the runtime libraries are linked dynamically by default (c.f. https://github.com/CNugteren/CLBlast/issues/59 ). Apart from that, after a quick test on a different PC, it basically seemed to work - at least, on Windows.

[2016-05-18 19:37] blueberry commented on #8
@gpu @amherag Cedric have just released CLBlast 0.7.1 that solves the Windows runtime issue, and also two very important AMD performance issuse.

@gpu, can you please prepare 0.7.1, so @amherag and I can build OS X and Linux version? As soon as JOCLBlast 0.7.1 is in the maven central, I am going to release Neanderthal.

[2016-05-19 09:07] gpu commented on #8
I'll try to do this ASAP (not sure whether I can do it today - _hopefully_ tomorrow, but can not promise it)

[2016-05-20 14:31] gpu commented on #8
@blueberry @amherag A tag https://github.com/gpu/JOCLBlast/releases/tag/0.7.1-RC00 has been created for version 0.7.1, which may be used to build the binaries.

[2016-05-20 18:47] amherag commented on #8
Got it. I'll build the OS X binaries today.

[2016-05-20 21:41] blueberry commented on #8
I'll probably do it tomorrow.

[2016-05-21 21:49] blueberry commented on #8
@gpu
[jocl-blast-0.7.1-linux.zip](https://github.com/gpu/JOCLBlast/files/276065/jocl-blast-0.7.1-linux.zip)

[2016-05-21 23:20] amherag commented on #8
@gpu
[jocl-blast-0.7.1-apple.zip](https://github.com/gpu/JOCLBlast/files/276115/jocl-blast-0.7.1-apple.zip)

Sorry for the delay.

[2016-05-22 11:54] gpu commented on #8
Thanks @blueberry and @amherag  I'll pack it together ASAP (maybe today, more likely tomorrow).

[2016-05-23 17:27] gpu commented on #8
JOCLBlast 0.7.1 has been released and will soon be available in Maven central as

[code]

[2016-06-28 23:28] blueberry commented on #8
@gpu I just want to notify you that CLBlast 0.8.0 is out, so we can prepare the releases that fix the OS X bug https://github.com/uncomplicate/neanderthal/issues/15.

It will require JOCL code generation, since there are new functions in CLBlast.

[2016-06-29 16:29] gpu commented on #8
Thanks for this pointer. Unfotunately, I'll hardly be able to do it this week, but will try to schedule it ASAP (likely Monday).

[2016-06-29 18:27] blueberry commented on #8
Thank you. Monday is perfectly fine. I'll include a pointer for @amherag so he can expect it.

[2016-06-30 19:46] gpu commented on #8
I managed to allocate some time today, and updated it, in https://github.com/gpu/JOCLBlast/releases/tag/0.8.0-RC00

There haven't been many new functions, except for the (non-BLAS) `omatcopy` ones, and the ones that operate on `cl_half`. Since this data type is not supported in Java at all, I now omitted these.

[2016-07-05 07:17] blueberry commented on #8
@gpu @amherag  Here is the linux build. Please note that you forgot to update the version in Maven pom - I updated that to 0.8.0-SNAPSHOT, but it should not affect native binaries that are relevant here (their version is OK).
[jocl-blast-0.8.0-SNAPSHOT.zip](https://github.com/gpu/JOCLBlast/files/347217/jocl-blast-0.8.0-SNAPSHOT.zip)

[2016-07-06 03:58] amherag commented on #8
@gpu @blueberry And here is the mac build.

[jocl-blast-0.8.0-SNAPSHOT.jar.zip](https://github.com/gpu/JOCLBlast/files/349025/jocl-blast-0.8.0-SNAPSHOT.jar.zip)

When I issued `mvn clean install` on JOCLBlast 0.8.0, the jar was named as version 0.7.2. (Oh, nevermind, I just read @blueberry post before mine. I'll rename it to 0.8.0-SNAPSHOT too).

Sorry for the delay, although I'm already on vacati

[2016-07-06 05:50] blueberry commented on #8
Thank you, Amaury.

[2016-07-06 16:55] gpu commented on #8
Thanks @blueberry and @amherag for the contribution!

(The version number in the POM: Indeed, I created this tag (which was only intended for the binaries) before updating the maven build part - but it would indeed have been better to update the version number in the POM as well)

The new version should be available in Maven Central soon, at

[code]

Hopefully, this will also resolve https://githu

[2016-09-13 17:50] blueberry commented on #8
@gpu @amherag Hi guys. CLBlast has just released new version 0.9.0. https://github.com/CNugteren/CLBlast/pull/99
Marco, please let us know when you have some time to prepare the release, so we can plan in advance and set up some time to do the osx and linux build. I personally am not in a hurry, but it would be nice if we can keep up with Cedric's fantastic work on this.

[2016-09-15 16:45] gpu commented on #8
Thanks for this ping. Right now, I have minor other tasks and strict deadlines in the next few days, but should be able to tackle the update next tuesday (and then, it should not take so long). I'll ping you when the update is committed.

[2016-09-21 13:57] gpu commented on #8
I just had a look at the new version, and it seems that there are **no new functions**. (Maybe I overlooked something...?)

Then I'd just tag the current version of JOCLBlast, and the new version could just be built based on the current source code state, but **linked against the new version of CLBlast**.

Is this OK for you?

[2016-09-21 14:28] CNugteren commented on #8
Yes, there are no new functions indeed. Just performance improvements and bugfixes.

[2016-09-21 14:34] gpu commented on #8
Thanks for confirming. So the tag to build the libraries against is https://github.com/gpu/JOCLBlast/releases/tag/0.9.0-RC00

[2016-09-24 07:27] blueberry commented on #8
@gpu I wanted to build the library today, but it seems it has not been updated since 6th July (or 16th July for the zip file). Shouldn't at least version number be bumped up?

[2016-09-24 15:14] gpu commented on #8
Apologies. This was embarassingly stupid. I have deleted the draft-RC-tag, will create the updated one, and drop a note here ASAP. (Likely on monday, most likely not later than wednesday)

[2016-09-24 19:13] blueberry commented on #8
@gpu Luckily, your projects are so useful, that you can afford as much simple oversights as you like, you still kick ass! :)

[2016-09-28 16:49] gpu commented on #8
Sorry for the delay here. I prepared everything, and cleanly rebuilt everything locally, and it seemed to work. But during one test, I encountered a _very_ strange error with event handling:
- An event object is passed to `CLBlastSgemm`, to be filled there
- It is filled properly. In the native CLBlast sample, everything works. Even hackily inserting a `clWaitForEvents` with this event in the JNI

[2016-09-28 17:03] blueberry commented on #8
Are you sure that the event is not incidentally released somewhere? Are there many changes in CLBlast code related to that, or the occurrence is completely mysterious? If you can share the exact prepared project that just needs to be built/run, I can try running it on linux with AMD drivers and see how it goes there.

Does 0.8.0 work now, or it only worked a couple months ago when you built 0.8.0?

[2016-09-28 18:46] gpu commented on #8
Thanks for your input. I found the culprit, and it was me, of course: There was a missing pointer dereference in the JOCLCommon utility functions. My initial debugging attempts have been useless in this sense, because I always compared the pointer values, and not the pointed-to event objects.

At some point, things become questionable nevertheless. I'll have to take measures to prevent this from h

[2016-09-28 18:49] CNugteren commented on #8
(I was just about to write a comment, but good to hear that you've fixed it)

Things did change regarding events in the latest CLBlast. See https://github.com/CNugteren/CLBlast/issues/74#issuecomment-230104247 and the change-log:

[2016-09-28 19:13] blueberry commented on #8
@gpu just to clarify, JOCLCommon also changed and needs to be rebuilt to build JOCLBlast?

[2016-09-28 20:41] gpu commented on #8
@CNugteren Yes, I had noticed that in https://github.com/CNugteren/CLBlast/commit/7cf2f8c26882aee4cd3e95fe22967f04318b6bf7#diff-48d386b2900ad3210bb7dd2c72a0fb11 a new `clReleaseEvent` appeared, and thought that blueberry might be right with his guess about the event erroneously being released there. But it seems to be a different event, and more importantly, the original sample worked properly - s

[2016-10-02 06:00] amherag commented on #8
@gpu @blueberry 0.9.0 Mac build done ;)

[jocl-blast-0.9.0-SNAPSHOT.jar.zip](https://github.com/gpu/JOCLBlast/files/504801/jocl-blast-0.9.0-SNAPSHOT.jar.zip)

[2016-10-02 15:35] gpu commented on #8
Thanks @amherag . Was this built with the matching/latest version of `JOCLCommon`? (The regression unit test for the event bug will be added ASAP)

[2016-10-02 17:12] blueberry commented on #8
@gpu here is the linux build (I used new JOCLCommon, at least I hope I do :)

[jocl-blast-0.9.0-SNAPSHOT.zip](https://github.com/gpu/JOCLBlast/files/505123/jocl-blast-0.9.0-SNAPSHOT.zip)

[2016-10-02 18:13] gpu commented on #8
Thanks @blueberry !

One test would be the sample from https://forum.byte-welt.net/byte-welt-projekte-projects/jocl/18180-joclblas-java-bindings-clblas-2.html#post131422 , but commenting **in** the line 93,

[code]

---

Beyond that, I'd likely be able to build the package in the next few days (Tuesday or Wednesday)

[2016-10-02 18:28] blueberry commented on #8
Just kidding. I updated JOCLCommon source, and also all neanderthal tests pass.

[2016-10-02 18:29] amherag commented on #8
@gpu Yes, I used the latest version of JOCLCommon and tested the jar with JOCLBlastSample :)

[2016-10-04 15:17] gpu commented on #8
Thanks again to @amherag  and @blueberry ! The release will soon be in Maven Central, at

[code]

[2016-10-04 15:23] blueberry commented on #8
@gpu Believe it or not, i have been doing some windows build work for the atlas-based CPU engine of neanderthal, and this was the last peace of the puzzle for the neanderthal release. What coincidence :) Thank you, Marco and Amaury!

[2016-12-01 17:03] gpu commented on #8
@blueberry This time, I was quicker :-) but only with noticing that there is a https://github.com/CNugteren/CLBlast/tree/0.10.0 . Unfortunately, it may still take a week or two until I can tackle the update, but considering that there seem to be no significant changes in the API, and the fixed bugs don't seem "critical" (from quickly skimming over the change log), I hope that this is OK.

[2016-12-01 17:23] CNugteren commented on #8
There are no changes in the C++ API, which you are using right? There is now also a Netlib compatible API, but that's not recommended for performance. And there are some changes in the C API to make the chance of a name-clash less likely:
[code]

[2016-12-01 17:40] gpu commented on #8
I'm using the C API. And I noticed the part about renamed enums. Strictly speaking, this as a compatibility-breaking change in the API, but I'll think about how to deal with this when I start the update:

On the one hand, it will not be necessary to let this change become visible in the JOCLBlast layer (`org.jocl.blast.Layout` **is** a unique name :-)). But usually, I try to follow the naming of t

[2016-12-01 18:43] CNugteren commented on #8
OK, I understand. In that case yes, the C-API has changed such that it is not compatible with previous versions. I though this was a quite important change, better sooner than later. And it's still a pre-1.0 version :slightly_smiling_face:

[2016-12-01 19:56] blueberry commented on #8
@gpu  I prefer the technically "better" solution over supporting legacy code, at least in the pre-1.0 versions. So, whatever changes you need or prefer to make, please make them, and I'll update neanderthal accordingly. Please just make a list of the changes, so I can be sure I updated all relevant parts.

[2016-12-01 19:59] blueberry commented on #8
@gpu @CNugteren What is the relevance of this netlib addition? It seems to me that they are irrelevant for JOCLBlast, and more like CLBlast's support for legacy code?

[2016-12-02 19:47] CNugteren commented on #8
The Netlib API is really meant as a drop-in replacement and is not the main focus of the CLBlast project. It can actually yield very poor performance because of extra data copies (especially level 1 and level 2 routines), but can sometimes give a 'free' performance improvement over CPU code for level 3 routines. It basically calls the regular CLBlast API but does a device initialization and host-d

[2016-12-27 18:59] gpu commented on #8
@blueberry and @amherag : The tag for building the native libraries of version 0.10.0 has been added:

https://github.com/gpu/JOCLBlast/releases/tag/0.10.0-RC00

The changes are basically just following the CLBlast changes:
- The `Diagonal`, `Layout`, `Side`, `StatusCode`, `Transpose` and `Triangle` classes have been renamed to `CLBlastDiagonal`, `CLBlastLayout`, `CLBlastSide`, `CLBlastStatusCode`

[2016-12-29 13:36] blueberry commented on #8
*(Edited slightly by gpu)*

Hi @gpu, @amherag, and @CNugteren I'll build this in three weeks. I'm sorry I won't be able to do it sooner, but I hope it won't cause any delay to the users of this fantastically useful library.

I wish you all happy hollidays!

[2016-12-31 10:08] CNugteren commented on #8
@gpu Indeed, the `Precision` enum was not really used at all in the API, so I removed it. Forgot to tell you, sorry!

About half-precision: In OpenCL on the host there is a `cl_half` data-type, but it is just a different name for a 16-bits short and there are no operations possible on them. I include a small header `clblast_half.h` in the CLBlast repository to do float-to-half and half-to-float co

[2016-12-31 15:08] gpu commented on #8
AFAIK, the `half` data type can be enabled via an extension in OpenCL kernels. But I have to admit that I do not (yet) know much about its role. I think that nearly all GPUs will internally do the computations with `float` anyhow. So the main purpose of `half` is to save space for "large" arrays (e.g. matrices) for which the precision does not need to be so high, but it probably has no positive ef

[2016-12-31 15:35] CNugteren commented on #8
Indeed, the `half` data-type can be used to save space, which is also important for deep learning. But the latest GPUs now support half-precision (FP16) arithmetic at double the performance of single precision (FP32). This yields a direct 2x performance improvement for deep learning. Examples are NVIDIA's Pascal P100 and AMD's announced MI25 Vega GPU. But also several embedded GPUs can already do

[2017-01-18 19:07] blueberry commented on #8
@gpu @amherag linux build 0.10.0 is here:
[joclblast-0.10.0-linux.zip](https://github.com/gpu/JOCLBlast/files/715159/joclblast-0.10.0-linux.zip)

EDIT: I noticed that I haven't included libclblast.so so I updated the archive. I also tuned it for nvidia-gtx-1080 (this will be included by default in the next release of clblast)

[2017-01-18 22:14] blueberry commented on #8
@gpu updated the build

[2017-01-19 09:44] amherag commented on #8
@gpu @blueberry mac build 0.10.0:
[jocl-blast-0.10.0-SNAPSHOT.jar.zip](https://github.com/gpu/JOCLBlast/files/716185/jocl-blast-0.10.0-SNAPSHOT.jar.zip)

Sorry for the delay.

[2017-01-19 13:44] gpu commented on #8
Version 0.10.0 has been released, and will be available in Maven Central soon.

Thanks @blueberry and @amherag for your contributions!

[2017-05-02 19:12] blueberry commented on #8
@gpu @amherag Just to notify you that CLBlast 0.11.0 has been released.

[2017-05-03 01:31] amherag commented on #8
Do I use JOCLBlast RC 0.10.0 for this build?

2017-05-02 12:12 GMT-07:00 Dragan Djuric <notifications@github.com>:

[2017-05-03 08:09] blueberry commented on #8
I guess we should wait for @gpu  to prepare new JOCLBlast, even if the change is only a version number upgrade.

[2017-05-03 09:26] CNugteren commented on #8
There are also some additions to the API: 2 new batched routines, one override-parameters function, and a couple new error codes. You can see the diff to the header [here](https://github.com/CNugteren/CLBlast/pull/150/files#diff-3d5c2fd0e059611dd5bfa2a4c6ae8019).

[2017-05-05 07:57] gpu commented on #8
Thanks for the pointer. I'll try to do the update (early) next week, and drop you a note here.

[2017-05-10 15:00] gpu commented on #8
The update is basically done, as of https://github.com/gpu/JOCLCommon/commit/b671b0cdd79123274b60072ccc6a328773dde117 and https://github.com/gpu/JOCLBlast/commit/0103ae6033e56e7b17879b372eb3d9af24a10f88

I'd like to test the new functionalities, e.g. the batched routines and this "parameter override" thingy. I already started a `JOCLBlastCaxpySample`, and will try to create an example for the para

[2017-05-10 15:27] blueberry commented on #8
No problem, I'll wait for it to be ready. Do you have an approximate time estimate fot the RC?

[2017-05-10 20:21] gpu commented on #8
I'll try to create the samples tomorrow (not sure how to test this "parameter override", but at least a batched example), so hopefully, the RC tag can be created tomorrow as well.

[2017-05-10 23:00] CNugteren commented on #8
There is a small parameter override test in CLBlast, maybe that will help you: `https://github.com/CNugteren/CLBlast/blob/master/test/correctness/misc/override_parameters.cpp`

[2017-05-11 14:45] gpu commented on #8
@blueberry  and @amherag The RC tag for 0.11.0 is at https://github.com/gpu/JOCLBlast/releases/tag/0.11.0-RC00

@CNugteren Thanks. I have created a "simplified port" of this class for testing the `OverrideParameters` functionality in JOCLBlast:

	package org.jocl.samples.blast;

	import static org.jocl.CL.*;

	import java.util.*;

	import org.jocl.*;
	import org.jocl.blast.*;

	/**
	 * An example

[2017-05-12 08:16] blueberry commented on #8
@gpu @amherag Here is the linux build for 0.11.0. Everything went smoothly.
[jocl-blast-0.11.0-SNAPSHOT.zip](https://github.com/gpu/JOCLBlast/files/995467/jocl-blast-0.11.0-SNAPSHOT.zip)

[2017-05-21 03:31] amherag opened #9 "Problems compiling for Mac OS X"
I'm configuring JOCLBlast for Mac OS X with cmake, and when I try to build, I get the following errors (it's an abstract, because they are a lot of similar errors).

[code]

I am using the following steps:

[code]

These steps worked for JOCLBlast 0.10 and CLBlast 0.10. I also tried using CMake GUI to do the configuration and generation of unix makefiles. The errors are the same with the latest JO

[2017-05-21 19:30] gpu commented on #9
I'm currently trying to understand what it is complaining about exactly. Could you post the *full* output? I think (or hope) that it contains information about the call site - that is, where exactly it tried to call an `initNative` function and did not find a matching one...

[2017-05-21 19:34] amherag commented on #9
Oh, there are other errors at the beginning of the output. I didn't check there because of the immense wall of similar errors at the end.

[code]

[2017-05-21 19:43] blueberry commented on #9
@amherag Could you try to build the previous JOCLBlast/CLBlast, 0.10.0, and see whether that works, just to be sure?

[2017-05-21 20:29] amherag commented on #9
Ok, I will write exactly the steps I'm following for 0.10.0:

* I downloaded JOCLBlast 0.10.0. The zip file, from the releases.
* I downloaded CLBlast 0.10.0.
* I downloaded the latest release of JOCLCommon cloning the github repository.
* Unzipped CLBlast and JOCLBlast.
* Changed directory to CLBlast-0.10.0 and performed the following operations, as stated on CLBlast repository's Readme:

[code]

[2017-05-21 20:34] blueberry commented on #9
Did you upgrade OSX since the last successful build? Maybe they changed some regarding build tools (C++ compiler, etc.), or opencl?

[2017-05-21 20:36] amherag commented on #9
Nope, I'm always afraid of upgrading OS X; everything developer-related crashes just to get some features related to iTunes or adding color tags to directories. I usually upgrade only after several releases.

I'm running El Capitan, and I have built every release of JOCLBlast on this Mac OS version.

[2017-05-22 01:59] gpu commented on #9
No need to update anything. I'm pretty sure to know what causes the error, due to the (indeed spookily long) output that you posted.

The problem is the "offsets" arrays that have been added. Thy are mainly used for the batched routines, e.g.

    /Users/Amherag/jocl/JOCLBlast/src/main/native/JOCLBlast.cpp:13928:10: error: no matching function for call to 'initNative'
        if (!initNative(env,

[2017-05-22 21:16] gpu commented on #9
I have updated JOCLCommon (tagged at https://github.com/gpu/JOCLCommon/tree/jocl-blast-0.11.0-RC01 ) and JOCLBlast (release candidate update 1 at https://github.com/gpu/JOCLBlast/releases/tag/0.11.0-RC01 ) to hopefully handle the initialization of the `size_t*` arrays properly.

In view of the [Official Releases](https://github.com/gpu/JOCLBlast/issues/8) issue, it would probably be best if @amher

[2017-05-22 21:18] blueberry commented on #9
OK. I'll be able to do it in 8 days, so that leaves @amherag plenty of time to test this.

[2017-05-22 21:18] gpu commented on #8
(EDIT: Writing this overlapped with the comment at https://github.com/gpu/JOCLBlast/issues/9#issuecomment-303222830 )

I have done a small update for https://github.com/gpu/JOCLBlast/issues/9#issuecomment-303222495

Although technically, it should not change anything for the linux version, it might be clearer if the linux version would also be compiled based on this state. (The change **might** st

[2017-05-22 21:29] amherag commented on #9
It is now working! Thank you @gpu.

[2017-05-22 21:30] amherag commented on #8
Here it is :)

[jocl-blast-0.11.0-SNAPSHOT.jar.zip](https://github.com/gpu/JOCLBlast/files/1020264/jocl-blast-0.11.0-SNAPSHOT.jar.zip)

[2017-05-22 21:34] blueberry commented on #8
And the linux build is also ready:
[jocl-blast-0.11.0-SNAPSHOT-22-5-2017.zip](https://github.com/gpu/JOCLBlast/files/1020273/jocl-blast-0.11.0-SNAPSHOT-22-5-2017.zip)

[2017-05-22 21:35] blueberry commented on #9
@gpu since @amherag was quick, I also created the build right away.

[2017-05-22 21:54] gpu commented on #8
You're great! I'll build the Maven package ASAP (maybe tomorrow, but most likely not later than thursday)

[2017-05-25 15:56] gpu commented on #8
Thanks again to @amherag  and @blueberry  (and @CNugteren , for making all this possible in the first place ;-) )

The release will soon be available as

    <dependency>
        <groupId>org.jocl</groupId>
        <artifactId>jocl-blast</artifactId>
        <version>0.11.0</version>
    </dependency>

[2017-07-30 19:30] blueberry commented on #8
https://github.com/CNugteren/CLBlast/releases/tag/1.0.0

[2017-07-30 21:29] amherag commented on #8
@blueberry @gpu  Done!

[jocl-blast-0.11.1-SNAPSHOT.jar.zip](https://github.com/gpu/JOCLBlast/files/1185994/jocl-blast-0.11.1-SNAPSHOT.jar.zip)

[2017-07-30 21:36] blueberry commented on #8
@amherag Hi Amaury. I'm afraid that we first have to wait for @gpu to update JOCLBlast to the newest CLBlast 1.0 :)

[2017-07-30 21:40] amherag commented on #8
@blueberry Yeah, I was wondering why the versions didn't match. I was going to update my comment, but I decided to wait and see what you or @gpu were going to tell me :P

[2017-07-31 22:36] gpu commented on #8
Thanks for the heads-up. Apart from the `*AMIN` functions, there seem to be no changes in the API. I'll try to schedule the update ASAP (I'm a bit short on time this week, but will see what I can do)

[2017-08-01 09:00] blueberry commented on #8
Thank you, @gpu

[2017-08-01 20:13] CNugteren commented on #8
Thanks again everyone! There was a bug fixed just after the release though, so I'll make a 1.0.1 release soon after (next week after everything is properly checked this time). Perhaps you should wait for that?

[2017-08-01 20:16] blueberry commented on #8
@CNugteren @gpu I'd prefer to **wait** for the proper release, as I am in no hurry. Thanks everyone!

[2017-08-02 20:02] gpu commented on #8
Yes, that sounds like a plan :-)

[2017-08-08 18:56] CNugteren commented on #8
New 1.0.1 release is now made, sorry for any inconvenience. Greatly appreciate your effort with JOCLBlast!

[2017-08-11 12:05] gpu commented on #8
These efforts are nothing compared to the efforts that went into CLBlast itself 👍

(I'll do the update on Sunday/Monday and drop a note here)

[2017-08-14 23:11] gpu commented on #8
Although it's already tuesday now, here is the tag for the 1.0.1 release:

https://github.com/gpu/JOCLBlast/releases/tag/1.0.1-RC00

@blueberry  and @amherag Once the natives for JOCLBlast and CLBlast are available, I'll publish the Maven release.

(BTW: This issue is already rather long. I'd probably close this after the release, so that we can use dedicated issues for the subsequent releases)

[2017-08-14 23:20] blueberry commented on #8
I will be able to buid it and test it only in a few weeks. I hope that is ok. Sorry.

[2017-08-15 16:11] gpu commented on #8
OK for me. Maybe that's a chance for me to try and build this on a VirtualBox VM. This *should* work, but not being able to really *test* the resulting library would cause me to hesitate publishing it.

(Maybe I can *build* it on a VM, and you can try out whether the resulting lib works on a real machine. If it does, I could build the linux libs myself in the future)

[2017-08-15 16:15] blueberry commented on #8
Just testing whether it works wouldn't be that time-consuming for me, but the thing is that Cedric committed new tuning results for the GPU that I use from another user that tuned it with a newer GPU. However, that user was getting some results that were suspicious to me, so I need to investigate this and make some measurements to see whether these new changes do not introduce some noticeable perf

[2017-09-03 15:17] blueberry commented on #8
@gpu Hi Marco. I've finally come around to building JOCLBlast 1.0.1 for Linux. Sorry for the delay.

@amherag reminder :)

[jocl-blast-1.0.1-SNAPSHOT.zip](https://github.com/gpu/JOCLBlast/files/1272996/jocl-blast-1.0.1-SNAPSHOT.zip)

[2017-09-03 21:05] amherag commented on #8
@blueberry Thanks for the reminder :D

[jocl-blast-1.0.1-SNAPSHOT.jar.zip](https://github.com/gpu/JOCLBlast/files/1273251/jocl-blast-1.0.1-SNAPSHOT.jar.zip)

[2017-09-03 21:09] gpu commented on #8
Thanks, @blueberry  and @amherag , I'll to the maven update ASAP

[2017-09-05 22:14] gpu commented on #8
JOCLBlast 1.0.1 has been uploaded to Maven Central, and will soon be available under the following coordinates:
[code]

Thanks again @blueberry  @amherag  and of course @CNugteren for making this possible!

(As mentioned above, I'll close this issue now. For future updates, dedicated issues can be created)

[2017-09-05 22:14] #8 closed

[2017-10-04 14:52] blueberry commented on #9
Shouldn't this be closed now?

[2017-10-04 14:53] blueberry opened #10 "New version of CLBlast 1.1.0"
@gpu CLBlast 1.1.0 has been released.

[2017-10-04 18:02] CNugteren commented on #10
Note that there is one new routine in the API (see [changelog](https://github.com/CNugteren/CLBlast/releases)):
SIM2COL/DIM2COL/CIM2COL/ZIM2COL/HIM2COL

[2017-10-04 18:25] #9 closed

[2017-10-04 18:27] gpu commented on #10
Thanks for this heads-up, I'll prepare the update ASAP.
The new routine should already be covered by the code generator, but I'll check this.

[2017-10-09 18:38] gpu commented on #10
@blueberry @amherag : The tag for building the native libraries for 1.1.0 is at https://github.com/gpu/JOCLBlast/releases/tag/1.1.0-RC00

[2017-10-14 22:49] blueberry commented on #10
@gpu @amherag I'll be able to compile it next week. Sorry for the delay.

[2017-10-18 07:14] amherag commented on #10
@gpu @blueberry Hmm... the jar says 1.0.2 instead of 1.1.0. The pom.xml still has version 1.0.2 too. I'll say it's okay to just rename the jar to 1.1.0, so here's the file.

[jocl-blast-1.1.0-SNAPSHOT.jar.zip](https://github.com/gpu/JOCLBlast/files/1393705/jocl-blast-1.1.0-SNAPSHOT.jar.zip)

[2017-10-18 18:57] blueberry commented on #10
@gpu
Here's the linux version:
[jocl-blast-1.1.0-SNAPSHOT.zip](https://github.com/gpu/JOCLBlast/files/1395942/jocl-blast-1.1.0-SNAPSHOT.zip)

@gpu @amherag @CNugteren  Thank you all!

[2017-10-18 22:16] gpu commented on #10
Indeed, the version number in the POM is not yet updated, but this should not affect the remaining parts of the release - it's a `SNAPSHOT` after all. I'll do the update and release ASAP.

[2017-10-24 22:21] gpu commented on #10
The new version has been released, and will soon be in Maven Central at
[code]

Thanks again to @amherag @blueberry and @CNugteren !

[2017-10-24 22:21] #10 closed

[2017-11-08 20:52] blueberry opened #11 "Release 1.2.0"
@gpu @amherag https://github.com/CNugteren/CLBlast/releases/tag/1.2.0

[2017-11-10 19:07] gpu commented on #11
Thanks, I'll try to do the update next week (cannot promise it, but should be doable)

[2017-11-13 19:36] gpu commented on #11
It seems like there have been no changes in the API, so the only update was to the version numbers here. The RC tag is at https://github.com/gpu/JOCLBlast/releases/tag/1.2.0-RC00

[2017-11-14 06:27] amherag commented on #11
@gpu @blueberry Luckily I had free time tonight :) Thanks for notifying me.

[jocl-blast-1.2.0-SNAPSHOT.jar.zip](https://github.com/gpu/JOCLBlast/files/1469766/jocl-blast-1.2.0-SNAPSHOT.jar.zip)

[2017-11-14 10:57] blueberry commented on #11
... and here is the Linux version:
[jocl-blast-1.2.0-SNAPSHOT.zip](https://github.com/gpu/JOCLBlast/files/1470450/jocl-blast-1.2.0-SNAPSHOT.zip)

[2017-11-15 21:36] gpu commented on #11
Version 1.2.0 will soon be available in Maven Central at
[code]

Thanks @amherag @blueberry @CNugteren !

[2017-11-15 21:36] #11 closed

[2018-01-29 21:05] blueberry opened #12 "Release 1.3.0"
@gpu Cedric has just released CLBlast 1.3.0 https://github.com/CNugteren/CLBlast/releases/tag/1.3.0

[2018-01-30 12:34] gpu commented on #12
Thanks, I'll schedule the update ASAP and drop you a note here.

(Although at least for the Linux binaries, I should (hopefully) soon be able to use https://github.com/gpu/JOCL/pull/18 , once I got it working...)

[2018-02-09 16:11] gpu commented on #12
Sorry for the delay. The version for building the natives is tagged at https://github.com/gpu/JOCLBlast/releases/tag/1.3.0-RC00

CC @amherag @blueberry

[2018-02-26 13:15] blueberry commented on #12
@gpu @CNugteran Unfortunately, when I try to build new JOCLBlast with CLBlast 1.3 (that I had previously built and installed from the tagged release zip file of CLBlast) I get this error:

[code]

[2018-02-26 13:23] blueberry commented on #12
@gpu @CNugteren The last error was a false alarm. I had not updated JOCLCommon. It had a few lines changed. With the updated JOCLCommon, the build passes.

[2018-02-26 13:29] blueberry commented on #12
@gpu Please mind that you forgot to update the version in pom.xml, so while this binary is named 1_3_0, the java part of the library in maven pom is still 1.2.1-SNAPSHOT.

Here is the linux binary. Sorry for the delay.
[jocl-blast-1.2.1-SNAPSHOT.zip](https://github.com/gpu/JOCLBlast/files/1758760/jocl-blast-1.2.1-SNAPSHOT.zip)

@amherag

[2018-02-27 17:35] javagl commented on #12
This is OK, the final version number will be decided when the `mvn release` is done.

As soon as amherag provides the Mac binaries, I'll do the release. (There might be another delay, but I should be able to allocate some time beginning or end of next week)

[2018-02-27 17:36] gpu commented on #12
^ That was me, of course.

[2018-03-01 08:01] amherag opened #13 "Problems in Mac OS X"
Hello!

Hopefully it's just a dumb error on my part.

I cloned CLBlast, JOCLCommon and JOCLBlast inside an empty directory:

[code]

I go to CLBlast, I create a `build` directory and `cd` to it, then I `cmake ..`, `make` and finally `sudo make install` without any problem.

Then I go to the JOCLBlast directory and I create a `nativeLibraries/apple/x86_64` directory. I copy the `libclblast.dylib` l

[2018-03-01 09:33] blueberry commented on #13
FWIW, on linux I run cmake-gui, and after it is done, I just call `make` (NOT Cmake) to build the native library, before continuing with `mvn clean install`.

[2018-03-04 20:12] gpu commented on #13
From a quick look at the log messages, it seems like

    fatal error: 'clblast_c.h' file not found

is the only real error. This may be just due to the `-DCLBLAST_INSTALL_DIR:FILEPATH=/usr/local/lib/` part not being right. Maybe it's better to start `cmake-gui`. After using "Configure", it should spill out a message for the missing `CLBLAST_INSTALL_DIR`, but in the `cmake-gui`, you can directly s

[2018-03-28 11:58] milikicn commented on #13
@gpu I'am sending you the compiled library for Mac OS X. I followed the instructions by @amherag but CLBlast was installed by homebrew, and console cmake worked for me.

[jocl-blast-1.2.1-SNAPSHOT.zip](https://github.com/gpu/JOCLBlast/files/1855757/jocl-blast-1.2.1-SNAPSHOT.zip)

[2018-03-30 12:04] blueberry commented on #12
@gpu The macOS build of 1.3.0 is ready. By mistake, it was uploaded in #13. Would you have time to make the release soon? I'm not in a hurry, I just need a rough estimate to plan for the next release of neanderthal.

[2018-03-30 16:44] gpu commented on #13
Thanks @milikicn for your contribution. We'll track this further in https://github.com/gpu/JOCLBlast/issues/12

[2018-03-30 16:46] gpu commented on #12
Thanks for the pointer. I should be able to do the release after the holidays, so probably mid of next week. I'll drop a note here, of course.

[2018-03-30 16:57] gpu commented on #12
Somewhat "unrelated", but I just received a newsletter and noticed that @CNugteren will present CLBlast at the IWOCL: https://www.iwocl.org/iwocl-2018/conference-program/#wednesday :+1:

[2018-04-12 19:43] gpu commented on #12
So with a short delay, version 1.3.0 will soon be available in Maven Central at
[code]

Thanks again @blueberry and @milikicn and @CNugteren !

[2018-05-08 09:45] milikicn commented on #13
@gpu Can you please check whether the archive I have previously provided is properly packaged? If I remove CLBlast binary from brew, I get the following error:

`
java.lang.UnsatisfiedLinkError: no JOCLBlast_1_3_0-apple-x86_64 in java.library.path
`

Probably I didn't build this properly, TBH I don't have much experience with it. Maybe after you prepare 1.3.1 I can try building it again for Mac OS

[2018-05-08 19:00] gpu commented on #13
After having another look at the JAR, it seems like everything should be OK there.

Here's a package for a quick test, without any Maven/Brew/... or other build tool. It's just the current JARs and a small sample. (The `runTest.bat` just compiles and starts the sample, which can also be done manually at the command line)

[JOCLBlastTest_2018-05-08.zip](https://github.com/gpu/JOCLBlast/files/198524

[2018-05-08 19:16] blueberry commented on #13
@gpu @milikicn However, the other user that first noticed this issue with 1.3.0 mentioned that 1.2.0 worked for him, so we can first try to isolate the problem to changes after 1.2.0 in CLBlas (or JOCLBlas).

[2018-05-08 19:27] milikicn commented on #13
@blueberry You are right. If I use neanderthal v0.18.0 that is referencing JOCLBlast v1.2.0 I don't have this problem. I have previously deleted the jocl libraries from my maven repo so that the jars will be pulled in again.

[2018-05-08 19:48] gpu commented on #13
@milikicn Just to confirm: I assume that the same error appears when you try the test package that I uploaded, right? (I.e. it prints a looong stack trace that somewhere contains the "image not found" message)

A quick glance over the history of the CLBlast CMakeFile.txt did not reveal any obvious changes that might cause the trouble here (particularly, the changes in the commit at https://github.

[2018-05-08 20:03] milikicn commented on #13
@gpu Yes, it yielded the same error:

[code]

If I run the same code with jocl-blast-1.2.0, the program finishes without any problems:

[code]

[2018-05-08 20:08] milikicn commented on #13
Again, I don't have anything in my brew repository (no packages at all). If I install _clblast_ via brew, then your initial test (with version 1.3.0) will work for me.

[2018-05-08 21:10] blueberry commented on #13
@gpu This hints to the source of the problem:

[code]
Notice how libJOCLBlast is loaded from the temporary directory, while libclblast is looked for in /usr/local/opt/clblast/lib which I assume is the folder where `brew` installed it.

So, to find the solution we should find out why libclblast is not (attempted to be) loaded from the same temp folder libJOCLBlast is located.

@milikicn can you ple

[2018-05-08 21:23] gpu commented on #13
That may be the crucial hint, @blueberry : I didn't have the possible implications of brew/homebrew on the screen. But the symptoms now look as if (roughly!) the `libJOCLBlast_1_3_0-apple-x86_64.dylib` was somehow linked against the (locally installed) `libclblast.dylib`.

One might investigate the CMake settings for this, but it'll be hard to point at "THE" source for this behavior.

It may be wo

[2018-05-08 21:28] #12 closed

[2018-05-08 21:29] blueberry commented on #13
@gpu It seems we've been bitten by #3 again :)

[2018-05-08 21:45] gpu commented on #13
Maybe I'll have to re-read this, but ... this doesn't seem to be related *directly* : The issue there was a missing library, but in the JAR that milikicn provided, the `libclblast.dylib` was contained (and it's also in the JOCLBlast JAR, so it should be unpacked into the temp directory and then loaded) ...

[2018-05-08 22:06] blueberry commented on #13
I meant to point to your last comment in that thread.

[2018-05-09 08:17] milikicn commented on #13
@blueberry I have removed all _clblast_ and _joclblast_ related files from my _/private/var/folders/p5/...._ temporary folder and ran the application. Two new files were added to the temp fodler: _libJOCL_2_0_0-apple-x86_64.dylib_, and _libJOCLBlast_1_3_0-apple-x86_64.dylibm_ and also a folder _JOCLBlast_1_3_0-apple-x86_64_dependents_ with the following folder structure:

[code]

[2018-05-09 14:06] gpu commented on #13
Maybe as a (small) debugging step: What does

    otool -L  libJOCLBlast_1_3_0-apple-x86_64.dylib

print? (It should show the dependencies, ... but we actually went through this in the other issue, so it will not necessarily tell us how to fix it...)

[2018-05-09 19:11] milikicn commented on #13
I am getting:
[code]
The strange thing is that it references a binary from my Downloads folder. But that folder has been deleted a couple of days ago.

[2018-05-10 02:07] gpu commented on #13
The oddest thing is that the library seems to refer to itself. I'll have to figure out more about this MacOS dependency and RPATH stuff. It might be that it somehow picked up the pre-installed libclblast.dylib as a dependency during the compilation, but that's only a wild guess. Unfortunately, I can't try things out without a MacOS machine. (E.g. I'd try out what happens when compiling the JOCLBla

[2018-07-22 10:33] blueberry opened #14 "Release 1.4.1"
Hi Marco,

I've just noticed that Cedric has released CLBlast 1.4.1. while we are still at 1.3.0.

Although there are not many new features of concern to JOCLBlast, there are some performance improvements and bugfixes. Also, it is a good idea to stay up-to-date.

Do you have any plans regarding the update?

[2018-07-24 13:47] gpu commented on #14
Sure, I'd also like to avoid falling too far behind with regards to the versions.

I'd probably schedule two updates, one to 1.4.0 and one to 1.4.1. I've got some time constraints right now. The situation should relax mid of August (although I already have deferred *so* many tasks to "mid of August" that I've basically already piled up an unmanagable amount of work).

But in the best case, the upd

[2018-08-05 18:10] gpu commented on #14
Too many time constraints, in fact. I'll try to catch up. Sorry for the delay, but the issue is still on the screen.

[2018-08-06 17:59] gpu commented on #14
I have created the release candidate

# for 1.4.0

(not 1.4.1)

at https://github.com/gpu/JOCLBlast/releases/tag/1.4.0-RC00

I could have issued both at the same time, but this way, it may be cleaner.

@blueberry and @amherag or @milikicn (whoever can provide the Mac binaries)  :

Please make sure to check out the branch `1.4.0` of CLBlast for the compilation. (I haven't yet checked whether there

[2018-08-22 12:47] gpu commented on #14
Sorry, I know that I'm in a delay here myself, but think that it's appropriate to issue a
ping @blueberry and @amherag and @milikicn

[2018-08-22 12:51] blueberry commented on #14
I'm sorry for the delay. I had a lot of other work, and this task was being delayed further and further. I haven't forgot, I just didn't come around to do it. I'll see to find some time in a few days to do this build.
Thanks for the reminder.

[2018-08-22 12:54] blueberry commented on #14
@gpu Do we even need 1.4.0? I guess that whoever uses JOCLBlast will upgrade to the latest version right away (1.4.1) and 1.4.0 would be eventually useful for backward compatibility, which is not very likely since no one had the opportunity to use it and depend on it yet since it hasn't been built yet...

[2018-08-22 16:04] gpu commented on #14
Well, I thought it would be nice to have a matching JOCLBlast version for each CLBlast version. Since it's a `x.x.1` difference, it should not be so critical. If you think that it's not worthwhile to have two releases, I can do the update to 1.4.1 (it should, however, be tagged and versioned accordingly).

[2018-08-22 16:26] blueberry commented on #14
@gpu I myself can do two releases, since it's not that much hassle on Linux, but @milikicn already reported difficulties with even building/installing CLBlast 1.4.0 on osx. I don't know whether you remember, but even for the previous version, there were problems with getting self-built CLBlast to work on osx, so he had to use the one with brew. That, unfortunately, created the dependency to the br

[2018-08-22 20:40] milikicn commented on #14
@gpu Sorry for the delay. Here is the build for the 1.4.0 release.

[jocl-blast-1.4.0-SNAPSHOT.zip](https://github.com/gpu/JOCLBlast/files/2311929/jocl-blast-1.4.0-SNAPSHOT.zip)

[2018-08-22 21:07] milikicn commented on #14
Putting here (for the refference) the list of commands that worked for me to build JOCLBlast on OS X (1.4.0 version of both CLBlast and JOCLBlast). Not sure if the issue #13 that @amherag reported is still valid as I am able to build it from scratch.

[2018-08-22 21:11] CNugteren commented on #14
By the way, is it not a good idea to use Travis/AppVeyor to do these builds for us automatically?

[2018-08-25 09:03] blueberry commented on #14
@gpu Here is the Linux version. Finally the release is ready. Sorry for the delay. I'll see to do the 1.4.1 build as soon as you make it ready, since now the process is fresh in my head :)

[jocl-blast-1.4.0-SNAPSHOT.zip](https://github.com/gpu/JOCLBlast/files/2320500/jocl-blast-1.4.0-SNAPSHOT.zip)

[2018-08-25 12:59] gpu commented on #14
Thanks for the contributions!

@milikicn Good to hear that the build process worked for you (although, I never really understood the details behind #13 in depth, and could not (yet) allocate enough time to investigate it). Maybe I'll take your summary as a template for instructions or a build shell script.

Could you also provide the `libclblast.dylib`? It will be part of the release, as the JOCLB

[2018-08-25 19:19] milikicn commented on #14
@gpu here you go
[libclblast.dylib.zip](https://github.com/gpu/JOCLBlast/files/2320963/libclblast.dylib.zip)

[2018-08-25 19:20] blueberry commented on #14
@milikicn Does the build still link to brew's libclblast or now it works when you remove it from brew?

[2018-08-25 19:27] milikicn commented on #14
No, I don't have it in my brew repository (like I did the last time). I think the last time I missed to call "sudo make install".

On Sat, Aug 25, 2018 at 9:20 PM Dragan Djuric <notifications@github.com>
wrote:

[2018-08-25 19:28] blueberry commented on #14
Cool! So now that part of the build has been fixed!

[2018-08-29 12:32] gpu commented on #14
Umm... sorry @milikicn : Is that actually a ZIP file, or did you just rename it for uploading? I can only "open" it with 7zip (not WinRAR or the Explorer), and it seems to contain only gibberish.

If it's safe to just remove the `.zip` extension, just drop me a note (I'd like to avoid having an invalid release, and cannot test the library here...)

[2018-08-29 12:34] milikicn commented on #14
Just drop the zip extension, sorry for the confusion.

[2018-08-31 16:06] gpu commented on #14
Version 1.4.0 will soon be available in Maven Central.

Thanks @blueberry  and @milikicn  for contributing the native libraries!

I'll do the update to 1.4.1 ASAP and drop you a note here when it's ready.

[2018-09-03 13:10] gpu commented on #14
@blueberry @milikicn  The RC for 1.4.1 is at https://github.com/gpu/JOCLBlast/releases/tag/1.4.1-RC00

There have been no API changes, so this looks like only the version number was updated, but I think it's good to have matching versions, and a dedicated release with the 1.4.1 binary of CLBLast.

[2018-09-03 13:14] milikicn commented on #14
Sorry, but I won't be able to do this before September 12, I am away
without my computer.

Nikola
Sent from my mobile phone

On Mon, Sep 3, 2018, 16:10 Marco Hutter <notifications@github.com> wrote:

[2018-09-03 19:31] blueberry commented on #14
Here is the linux build of 1.4.1. I tried it with Neanderthal as always and all tests pass.
[jocl-blast-1.4.1-SNAPSHOT.zip](https://github.com/gpu/JOCLBlast/files/2346449/jocl-blast-1.4.1-SNAPSHOT.zip)

[2018-09-11 12:02] milikicn commented on #14
Hi @gpu , here is the OS X build. Sorry for the delay.
[jocl-blast-1.4.1-SNAPSHOT.zip](https://github.com/gpu/JOCLBlast/files/2370840/jocl-blast-1.4.1-SNAPSHOT.zip)

[2018-09-12 15:41] gpu commented on #14
No problem with the delay, I'm going to do the release ASAP and drop a note here as usual (it might also take a few days, but maybe I can manage to do it earlier)

[2018-09-16 12:47] gpu commented on #14
Version 1.4.1 is available in Maven Central:
[code]
Thanks again @blueberry and @milikicn and @CNugteren !

[2018-09-16 12:47] #14 closed

[2018-12-13 01:12] blueberry opened #15 "Release 1.5.0"
This is nothing particularily pressing, just a notification that @cnugteren realeased CLBlast 1.5.0. I'll be glad to help, as usual, but the main burden is on @gpu It seems to be backward compatible on the first glance, with two added convolution routines.

[2018-12-13 12:50] gpu commented on #15
As usual: Thanks for the heads-up. I'm also subscribed to the "releases", but having a pointer/issue here is a good thing, so that the update doesn't get lost so easily. I'll do the update ASAP and notify you here.

[2019-01-13 00:29] gpu commented on #15
That one got buried. I'll set up some nagging reminder in my cellphone. Sorry for the delay.

[2019-01-20 16:12] gpu commented on #15
Again, sorry for the delays here.

The tag for building the natives for Linux and Mac has been created: https://github.com/gpu/JOCLBlast/releases/tag/1.5.0-RC00

@blueberry  and @milikicn As soon as the binaries are available, I'll schedule the maven release.

(If necessary, I can also build the Linux ones on a VM, but having them built and *tested* is probably better).

[2019-01-20 17:57] blueberry commented on #15
Hi Marco,

Thank you for preparing this build. ~~Unfortunately, it seems to not work on Linux. With the new version, I get build errors (see below)~~. I also include the output of a 1.4.1 build, which performs well. I upgraded CLBlast to 1.5.0...

[code]

[2019-01-20 18:09] blueberry commented on #15
Sorry, it seems to be a false alarm! I managed to build and test it!

[jocl-blast-1.5.0-SNAPSHOT.zip](https://github.com/gpu/JOCLBlast/files/2776911/jocl-blast-1.5.0-SNAPSHOT.zip)

[2019-01-21 14:31] milikicn commented on #15
I am having a problem in the last before the final step. Before I 'mvn clean install' the project, I run 'cmake --build .'. But it throws an error at 'cmake --build .'

Any idea what could be the problem? I didn't change much in versions of my libraries and tools except for upgrading to the latest OS X (10.14.2) in the meantime.

Here is the full [console output](https://github.com/gpu/JOCLBlast/f

[2019-01-21 14:33] blueberry commented on #15
@milikicn Are you sure you've updated clblast to 1.5.0? maybe you've missed the `sudo make install` step in the clblast build?

[2019-01-21 14:37] milikicn commented on #15
I have. I am following these steps:

[2019-01-21 14:50] blueberry commented on #15
Hm, at first I thought that it might have something to do with Apple deprecating OpenCL in macOS 10.14, but since CLBlast build passes, that should not be the case.

@milikicn Can you locate that file in CLBlast's source *and* installation?

Can you repeat the whole process again, maybe you missed some step?

[2019-01-22 12:02] milikicn commented on #15
Not sure where the file 'clblast_c.h' should be located. It is not among JOCLBlast source files, but obviously comes from the CLBlast and probably should be available upon installing it.

I repeated the same process with no success.

[2019-01-22 19:00] CNugteren commented on #15
FYI, `clblast_c.h` is just the main header for users of the C API, similar to what `clblast.h` is for the C++ API. Not sure what is going on.

The OS X builds are indeed [passing](https://travis-ci.org/CNugteren/CLBlast/jobs/481800873), but Travis tell me it is using 10.13.

[2019-01-24 19:06] gpu commented on #15
When you do the `make install` for CLBlast, does it say anything? I.e. does it copy the files to the respective folder? I'm not sure what the target directory should be for Mac, but on windows, it creates the `bin`, `include` and `lib` directories in this path, where `include` contains the actual header.

[2019-01-30 14:45] milikicn commented on #15
Sorry @gpu for the late response.

`make install` puts all the files in `/usr/local/lib/`, `/usr/local/include/`  and `/usr/local/bin/`.

Next, I navigate to the 'JOCLBlast' dir and copy the 'libclblast.dylib' file to the folder `nativeLibraries/apple/x86_64/`.

Then, I call the `cmake` (this DCMAKE_MACOSX_RPATH property is [something specific to OS X](https://cmake.org/cmake/help/latest/variable/

[2019-01-30 14:48] blueberry commented on #15
@milikicn Can you please try with the last version (1.4.1) just to make sure that this issue is introduced in the CLBlast/JOCLBlast updates, and not by macOS updates.

[2019-01-30 15:27] milikicn commented on #15
@blueberry Good suggestion!

Unfortunately, I get the same problem building an older version. I have followed the [steps I used for the version 1.4.0](https://github.com/gpu/JOCLBlast/issues/14#issuecomment-415180350) and got the same error at `cmake --build` step. Obviously, something changed from the previous OS X version and I need to look into what.

In the meantime, if anybody has an earlier

[2019-02-02 13:32] gpu commented on #15
Instead of calling the command-line version of `cmake`, you could start `cmake-gui`. The process is described at https://github.com/gpu/JOCL#building-the-native-libraries . There, you should be able to verify that the `CLBLAST_INSTALL_DIR` and `CLBlast_LIBRARY` variables point to the right directories.

[2019-02-23 10:24] gpu commented on #15
I know that the largest delay had been caused by me, but wanted to ask whether there is still the possibility of including the MacOS binaries in the 1.5.0 release.

(Admittedly, I'm not sure how large the user base is. Maven Central reports 1 usage, namely Neanderthal, which in turn has 7 usages, so there *might* be MacOS users among them. In any case, I'd like to have a "complete" release, includ

[2019-02-23 10:50] blueberry commented on #15
fwiw, neanderthal users are not reported by maven central since virtually all of them use clojars. typically, last releases were pulled by 400 projects (most of them were only trials, of course) so i expect at least 50-100 of these to be on macs. the biggest issue with neanderthal starters is that they have to excude jcuda dependency manually on macos.

[2019-02-23 12:29] gpu commented on #15
@blueberry I see, I just looked at https://github.com/uncomplicate/neanderthal/issues/41#issuecomment-452115431 - that's indeed annoying. On the other hand: The build process of JCuda *does* involve some manual steps, mainly due to the Java/Maven+C/CMake combination, but should be manageable.

<sub>Now I could mention that I'm a freelancer, and if someone provided me a MacBook with CUDA support an

[2019-02-23 16:02] blueberry commented on #15
@gpu Good news! The build worked on my old (non-OpenCL) mac! Of course, I couldn't test it, but the build itself ran smoothly.

Here is the result (jar renamed to zip):
[jocl-blast-1.5.0-SNAPSHOT.zip](https://github.com/gpu/JOCLBlast/files/2896972/jocl-blast-1.5.0-SNAPSHOT.zip)

[2019-02-23 16:12] blueberry commented on #15
Now, maybe it's time that I try to build JCuda for mac. Can you please review a build process and identify places that I'd need to mock since obviously the build as-is will fail at first place where the code says "include this cuda-related header there".

[2019-02-24 11:34] gpu commented on #15
Thanks for the binaries, I'll schedule the update ASAP

Regarding the JCuda Mac binaries: This was already discussed quite a while ago, in https://github.com/jcuda/jcuda-main/issues/23 - The issue was closed (although I'm not entirely sure why - probably, because we found a contributor for the Mac Binaries back then). I have reopened it, maybe we can discuss further JCuda/Mac-Related issues there.

[2019-02-25 23:14] gpu commented on #15
With some delay (apologies for that), version 1.5.0 is available in Maven Central:
[code]

Thanks @blueberry @milikicn and @CNugteren

If someone could try out the Mac version, that would be great. From my - albeit limited - experience with Linux, compiling on a device without OpenCL should work, because the ICD of OpenCL should resolve the OpenCL implementation at runtime, but a confirmation woul

[2020-02-18 15:10] #15 closed

[2020-02-18 15:12] gpu opened #16 "Release 1.5.1"
Version 1.5.1 of CLBlast has been released: https://github.com/CNugteren/CLBlast/releases/tag/1.5.1

This issue is intended as a tracker/"todo" for the corresponding JOCLBlast update. (No timeline yet, I currently have some other time-critical tasks, but as usual, the update will be done "ASAP"...)

[2021-01-20 15:12] gpu opened #17 "Release 1.5.2"
As of https://github.com/CNugteren/CLBlast/releases/tag/1.5.2 , but https://github.com/gpu/JOCLBlast/issues/16 is still open. It's difficult.

[2021-01-24 18:29] gpu commented on #16
There has not been any change in the API for 1.5.1. This indicates proper semantic versioning, but also means that there is no excuse for the fact that the ""update"" of JOCLBlast took so long...

The release candidate for 1.5.1 is at https://github.com/gpu/JOCLBlast/tree/1.5.1-RC00

@blueberry If you are still willing to build the binaries, despite all the delays on my side, note that this versio

[2021-01-24 20:47] blueberry commented on #16
@gpu Thank you! Yes, I will build it. I just need some time to do it since I'm on a different computer now and I'll need to do the setup too, and the following week will be extremely busy. But I hope the next weekend is not too late.

[2021-02-13 10:51] blueberry commented on #16
Hi @gpu Here's the linux build of JOCLBlast 1.5.1. Sorry for the delay. Fortunately, now I have everything set up for this build, so I'll be able to build 1.5.2 as soon as you release it.

<rename zip to jar>
[jocl-blast-1.5.1-SNAPSHOT.zip](https://github.com/gpu/JOCLBlast/files/5975507/jocl-blast-1.5.1-SNAPSHOT.zip)

[2021-02-14 13:52] gpu commented on #16
@blueberry Thanks. The archive apparently does not contain the corresponding CLBlast library. (The internal process is to *first* load the CLBlast DLL/SO from the JAR, and then load the JOCLBlast DLL/SO from the JAR, which requires the CLBlast one to be loaded already). You should already have that in your CLBLast build folder. If you can provide it, I'll create the release ASAP.

[2021-02-14 13:57] blueberry commented on #16
Sorry, I must have missed some step in the build process. I thought that libclblast would be bundled automatically. Anyway, here's the libclblast binary.
[libclblast.zip](https://github.com/gpu/JOCLBlast/files/5977827/libclblast.zip)

[2021-02-14 16:53] gpu commented on #16
@blueberry Sorry for bugging you, but [last time](https://github.com/gpu/JOCLBlast/issues/15#issuecomment-466664634) you also provided the MacOS binaries, but it was already a bit complicated.... I'm not entirely up to date, but from your perspective (and your experience with your libraries, and the users of these libraries): Do you think that there is demand for JOCL(Blast) on Mac? Otherwise, we

[2021-02-14 20:29] blueberry commented on #16
Sorry, I totally forgot about that. I'll try to build it. My old Mac is on its deathbed and I only use it rarely, so I'll have to see how I did it last time, but I think it's definitely worth supporting, since there are lots of Mac users that would at least like to use OpenCL support for learning and experimenting.

[2021-02-21 01:01] gpu commented on #16
I can imagine that "reviving" a retired PC just for a compilation is a bit of a hassle. We could ask the guy who recently provided the (core) JOCL natives libs for MacOS (even though he would have to set up CLBlast for that). Do you think that this could make sense?

[2021-02-24 12:33] blueberry commented on #16
I'll try to work on this later this evening

[2021-02-24 23:53] blueberry commented on #16
[JOCLBlast-1.5.1-macos.zip](https://github.com/gpu/JOCLBlast/files/6039550/JOCLBlast-1.5.1-macos.zip)

[2021-02-26 14:55] gpu commented on #16
Version 1.5.1 is on its way into Maven Central, to be available at
[code]

As usual, thanks @CNugteren for CLBlast, and thanks @blueberry for your continued support and providing the Linux- and Max binaries!

I'll leave this issue open until a basic test for the actual Maven dependency is done. But assuming that all went smoothly and there are no problems reported with the current release, I'd ini

[2021-03-06 19:25] #16 closed

[2021-03-06 19:27] gpu commented on #17
Now that https://github.com/gpu/JOCLBlast/issues/16 is done: The release candidate for building the native libraries for version 1.5.2 is at https://github.com/gpu/JOCLBlast/releases/tag/1.5.2-RC00 (the same state as `master` currently).

There are no API changes, so this update only consists of the update of the version number, and using the corresponding CLBlast binaries.

[2021-03-09 23:19] gpu commented on #17
@blueberry (I don't want to bug you, but am not sure whether you saw this: ) If you wanted to create the binaries for 1.5.2 as well, that would be great.

[2021-03-11 21:13] blueberry commented on #17
Hi Marco,

Sorry for the delay, I built this as soon as I got access to my computer. Here's the linux build, and macOS follows quickly.
[joclblast-1.5.2-linux.zip](https://github.com/gpu/JOCLBlast/files/6125990/joclblast-1.5.2-linux.zip)

[2021-03-11 21:42] blueberry commented on #17
macOS build
[JOCLBlast-1.5.2-macos.zip](https://github.com/gpu/JOCLBlast/files/6126139/JOCLBlast-1.5.2-macos.zip)

[2021-03-13 19:27] gpu commented on #17
@blueberry Thanks, but I'm afraid that the MacOS ZIP contained the `sources` JAR file instead of the actual JAR with the native library.

(Also, I noticed that I packaged the release of 1.5.1 with the `libclblast.1.5.1.dylib` file, but I'm pretty sure that this will not be found, becaused it is supposed to be unpacked by its exact name. I could re-pack it, and release it as "1.5.1**b**" or so, but

[2021-03-13 19:57] blueberry commented on #17
Sorry about that. Here it is.

[jocl-blast-1.5.2-SNAPSHOT.jar.zip](https://github.com/gpu/JOCLBlast/files/6135445/jocl-blast-1.5.2-SNAPSHOT.jar.zip)

[2021-03-14 16:56] gpu commented on #17
Thanks for that quick update!! Version 1.5.2 is on its way into Maven Central, to
[code]

Thanks @CNugteren for CLBlast, and as always, thanks @blueberry for the Linux- and Max binaries!

[2022-09-30 14:32] gpu opened #19 "Release 1.5.3"
A new version of CLBlast has been released: https://github.com/CNugteren/CLBlast/releases/tag/1.5.3

JOCLBlast should be updated accordingly.